@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Syne+Tactile&display=swap');
/*variables globaux */
 
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}



canvas{

vertical-align:bottom;
}

:root{

    --primary-color:#0B0C10;
    --secondary-color:#1F2833;
    --ui-color:#C5C6C7;
    --text-color-primary:#66FCF1;
    --text-color-secondary:#45A29E;
    --font-family : 'Open Sans', sans-serif;
}

/* initialisation selecteur universelle */
*,
*::before,
*::after{

    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{

    font-size: 62.5%;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
}


.Bg{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.8)), url(/PORTFOLIO/Img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    
}
#sidebar{
    width: 250px;
    height: 100vh;
    min-height: 800px;
    padding: 2rem;
    position: fixed;
    z-index: 100;
    border-right: 2px solid var(--text-color-secondary);
    
   
}

.logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 1rem;
}

.logo img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.navigation{
    
    width: 100%;
    height: auto;
    font-size: 2.2rem;
}

.navigation ul{
    list-style-type: none;
    text-align: center;
    padding: 4rem 0;
}

.navigation ul li{
    padding: 3rem;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--ui-color);
    transition: all 0.2s ease-out;
    font-weight: 700;
}

.logo i{
    font-size: 7rem;
    color: var(--text-color-secondary);
}

.navigation ul li a:hover{
    color: var(--text-color-secondary);
}

.bloc{
    width: 100%;
    height: 10%;
}

.bloc li::after{
    content: '';
    display: block;
    width: 0%;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: var(--text-color-secondary);
    transition: all 0.2s ease-out;
}
.bloc li::before{
    content:'';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: var(--text-color-secondary);
    transition: 0.2s ease-out;
}

.bloc li:hover::after{
    width: 80%;
}

.bloc li:hover::before{
    width: 80%;
}

#header {

    width:100%;
    height: 100vh;
    min-height: 900px;
    position: relative ;  /*afin de positionner l'element parent*/
    left: 250px ; /*afin de pousser le parent à gauche */

    /*L'ajout d'une backgound image en CSS*/
    background: ;
    background-repeat:no-repeat ;
    background-size:cover ;
    z-index: -1;
}

.heading{

    padding: 30px;
    margin:0px ;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: -4rem;
}

.heading .title{

    font-size:20px ;
    margin:0px;
    padding-top:150px ;
    color: var(--text-color-secondary) ;
    text-transform: uppercase;
    margin-left: 3rem;
    
}

.heading .text {

    font-size:20px;
    margin:30px;
    color:var(--text-color-secondary);
}

.btns{
    margin: 1rem 0 0 7rem;
    margin-left: 6rem;
}

.btn{

    height:100px ;
    text-decoration:none ;
    background:var(--text-color-primary);
    color: var(--secondary-color);
    font-size:20px;
    padding:5px;
    margin:2px ;
    font-weight: 600;
    border:2px solid var(--text-color-primary);

    /*CSS animation */
    transition: all 0.2s ease-in-out;
}

.transparent{

    background:transparent;
    border:2px solid var(--ui-color);
    color: var(--ui-color);
    
}


.medias{

    width: 200px ;
    position:absolute;
    margin:30px;
    margin-left: 5rem;
}

.medias a {

    font-size:40px;
    text-decoration:none;
    padding:10px;

}

.medias a i {

    color:var(--ui-color);
    transition: all 0.4s ease-in-out;
}


.medias a i:hover{

    color: var(--text-color-secondary);
}


/*Button click to bottom */
.btn-rond{
    width:70px;
    height: auto;
    position: absolute;
    bottom:20px;
    left:60px;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0 0 0 0 var(--text-color-primary);
    background: var(--secondary-color);
    animation:pulse 1.3s infinite;
    text-align: center;
    padding:1rem;
    margin-left: 400Px;
}

.btn-rond img{

    width:50px;
    height: 50px;
    
}

/*How to create your own animation*/
@keyframes pulse
{
    to{
        box-shadow:  0 0 0 8px rgba(69,162,158,0.01);
    }
}

.particles-js-canvas-el{
    position: absolute;
    top: 0;
    z-index: -1;
   
}

.about{
    margin: 30px;
    height: 100vh;
    margin-left: 290px;
}
.container-about{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.title2{
    text-align: center;
    margin-top: 15rem;

    font-size: 1.5rem;
}
.description{
    display: flex;
    margin-top: 9rem;
}

.left-text{
width: 60%;
display: flex;
flex-direction: column;
font-size: 1.8rem;
justify-content: center;

}
.text-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 4rem;
    
}

.list-item{
    display: flex;
    padding: 2rem;
    font-size: 3rem;

}
/* Debut de la Section my projects */
.my-project{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#title{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 50rem;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap:30px;
    left: 250px;
    position: relative;
    margin-top: 40px;
}

.project{

    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2 ease-in-out;
    padding: 11px;
}
.project:hover{
    transform: translateY(-5px);
}

.img{
    width: 100%;
    height: 150px;
    border-radius: 30px;
}
.project h3{
    text-align: justify;
}
.project h3{
    font-size: 2rem;
}
.project p{
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}
.button{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: transparent;
    color: red;
    transform: scale(1.2);
}

.my-skills{
    width: 100%;
    height: 100vh;
    display: flex;

}
#myCanvas{

    position: relative;
    left: 700px;
    justify-content: flex-end;
    

}

/* Fin de la section my Projects */